@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply max-w-[100vw] min-h-screen m-0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.content-under-login {
  @apply bg-[#e3e3e3] justify-center items-center w-screen h-screen relative flex content-center flex-nowrap flex-col;
}

.card-main {
  @apply bg-[#ffffff] h-[60vh] w-[70vw] flex flex-nowrap flex-col justify-center;
}
